<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/robin-simple.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="RR Logo">
	</a>
		<h1>Run | Code | Film</h1>
		<div class="svg-icon">          
			<a href="https://github.com/rrampaer"><i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.youtube.com/user/rrampaer"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
			<a href="https://be.linkedin.com/in/robin-rampaer-38ba25108"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
            	</div>
</header>
