<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/robin-simple.png" | prepend: site.baseurl | replace: '//', '/' }}" alt="RR Logo">
	</a>
		<h1 class="title">Run | Code | Film</h1>
	
		<div class="svg-icon">          
			<a href="https://github.com/rrampaer" target="_blank" class="social_icons"><i class="fa fa-github fa-3x"></i></a>
			<a href="https://www.youtube.com/user/rrampaer" target="_blank" class="social_icons"><i class="fa fa-youtube-play fa-3x"></i></a>
			<a href="https://be.linkedin.com/in/robin-rampaer-38ba25108" target="_blank" class="social_icons"><i class="fa fa-linkedin-square fa-3x"></i></a>
            	</div>
</header>
