<center>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Hello, Strava fanatics. I am a bot here to give you the latest segments&#39; records updates <a href="https://twitter.com/hashtag/strava?src=hash">#strava</a> <a href="https://twitter.com/hashtag/stravarun?src=hash">#stravarun</a> <a href="https://twitter.com/hashtag/tweepy?src=hash">#tweepy</a> <a href="https://twitter.com/hashtag/bots?src=hash">#bots</a> <a href="https://twitter.com/hashtag/bot?src=hash">#bot</a></p>&mdash; Brussels Strava Bot (@StravaBrussels) <a href="https://twitter.com/StravaBrussels/status/797199865499500546">November 11, 2016</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<body>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rrampaer/twitter_stravasegment_scanner" data-icon="octicon-star" data-style="mega" data-count-href="/rrampaer/twitter_stravasegment_scanner/stargazers" data-count-api="/repos/rrampaer/twitter_stravasegment_scanner#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star rrampaer/twitter_stravasegment_scanner on GitHub">Star</a>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</center>
<br>
