<center>
<body>
<a href="https://twitter.com/StravaBrussels" class="twitter-follow-button" data-show-count="false">Follow @StravaBrussels</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- Place this tag where you want the button to render. -->
<a class="github-button" href="https://github.com/rrampaer/twitter_stravasegment_scanner" data-icon="octicon-star" data-style="mega" data-count-href="/rrampaer/twitter_stravasegment_scanner/stargazers" data-count-api="/repos/rrampaer/twitter_stravasegment_scanner#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star rrampaer/twitter_stravasegment_scanner on GitHub">Star</a>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
</body>
</center>
<br>
