/*- Custom style -*/

$icon-color: #333331;

// -- Put custom style under this point -- //

.social_icons {
	padding: 5px 5px;
}

a.emerald {
	color: #ffffff;
	&:hover {
		color: $text-color;
	}
}

h1.title {
	color: $icon-color;
}

h2 {
	color: $main-color;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid $main-color;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201C""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


/*- Social Icons -*/
.fa-github  {
	color: $icon-color;
	&:hover{
		color: $main-color;
	}
}

.fa-youtube-play  {
	color: $icon-color;
	&:hover{
		color: $main-color;
	}
}

.fa-linkedin-square  {
	color: $icon-color;
	&:hover{
		color: $main-color;
	}
}

/*- Code Display -*/

figure.highlight {
    overflow: scroll;
    overflow-y: hidden;
    font-size: 12px;
}
